<!DOCTYPE HTML>
<html>
<head>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    <script type="text/javascript">
        window.onload = function () {
            var dataPoints = @Html.Raw(ViewBag.DataPoints); // Hole die Datenpunkte aus der ViewBag

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                exportEnabled: true,
                title: {
                    text: "Most Sold Games"
                },
                data: [{
                    type: "column",
                    dataPoints: dataPoints // Verwende die Datenpunkte direkt
                }]
            });
            chart.render();
        }
    </script>
</body>
</html>
